# When the device 1a40:0101 is plugged then disable 1-1.3 (xpad)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1a40", ATTR{idProduct}=="0101", RUN+="/bin/sh -c 'echo 0 > /sys/bus/usb/devices/1-1.3/authorized'"

# When the device 1a40:0101 is unplugged then enable 1-1.3 (xpad)
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="1a40", ATTR{idProduct}=="0101", RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb/devices/1-1.3/authorized'"


