image boot.vfat {
        vfat {
                extraargs = "-F 32 -n RECALBOX"
@files
	}
        # Must be a multiple of 63
        # Total number of sectors (2457600) not a multiple of sectors per track (63)!
        #
        # Must be a multiple of 512
        #
        # x * 512 * 63 = 6451200000
        # 6451200000 / 1024 / 1024 / 1024 = 6GB
        size = 6451200000
}

image recalbox.img {
        hdimage {
              align = "1M"
        }

        partition boot {
              in-partition-table = "no"
              image = "boot.img"
              offset = 0
              size = 512
              holes = {"(440; 512)"}
        }

        partition grub {
              in-partition-table = "no"
              image = "grub.img"
              offset = 512
        }

        partition vfat {
                partition-type = 0xC
                image = "boot.vfat"
                bootable = true
        }
}
