# Recalbox's Pad-to-Keyboard configuration
# General configuration
# Pico8 (Lexaloffle Pico-8)

#Exit emulator
0:+start = leftctrl q ;; Exit emulator

#Screenshot
0:+l1 = leftctrl 6 ;; Screenshot

#Reload/Restart cartridge
0:+b = leftctrl r ;; Restart cartridge

#Pause Menu
0:select = enter ;; Pause Menu