/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";
  fragment@0 {
      target = <&gpio>;
      __overlay__ {
        irq_gpio_11: irq_gpio_11_conf {
          brcm,pins = <11>; // GPIO 11
          brcm,function = <0>; // Input
          brcm,pull = <2>; // Pull up
        };
        irq_gpio_10: irq_gpio_10_conf {
          brcm,pins = <10>; // GPIO 10
          brcm,function = <0>; // Input
          brcm,pull = <2>; // Pull up
        };
        irq_gpio_26: irq_gpio_26_conf {
          brcm,pins = <26>; // GPIO 26
          brcm,function = <0>; // Input
          brcm,pull = <2>; // Pull up
        };
      };
  };

	fragment@1 {
		target-path = "/";
		__overlay__ {

			bridge: recalboxrgbjamma {
				compatible = "raspberrypi,recalboxrgbdual";
				#address-cells = <1>;
				#size-cells = <0>;

				vc4-vga666-mode = <6>;
				recalbox-rgb-jamma = <1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						vga_bridge_in: endpoint {
							remote-endpoint = <&dpi_out>;
						};
					};

					port@1 {
						reg = <1>;
						vga_bridge_out: endpoint {
							remote-endpoint = <&vga_con_in>;
						};
					};
				};
			};

			vga {
				compatible = "vga-connector";
				port {
					vga_con_in: endpoint {
						remote-endpoint = <&vga_bridge_out>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&dpi>;
		__overlay__  {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&vga666_mode6_pins>;
			port {
				dpi_out: endpoint@0 {
					remote-endpoint = <&vga_bridge_in>;
				};
			};
		};
	};

	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			vga666_mode6_pins: vga666_mode6_pins {
				brcm,pins = <2 3
				      4  5  6  7  8  9
				      12 13 14 15 16 17
				      20 21 22 23 24 25>;
				brcm,function = <6>;
				brcm,pull = <0>;
			};
		};
	};


    fragment@5 {
        target = <&audio_pins>;
            __overlay__ {
                brcm,pins = < 18 19 >;
                brcm,function = < 2 >; /* alt5 alt5 */
                swap_lr;
            };
    };

    fragment@6 {
        target = <&chosen>;
        __overlay__  {
            bootargs = "snd_bcm2835.enable_headphones=1";
        };
    };

  fragment@8 {
    target = <&i2c0if>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&i2c0_pins>;
      clock-frequency = <100000>;
      read-timeout-ms = <100>;
      jammactrl_0: jammactrl_0@25 {
        compatible = "raspberrypi,recalboxrgbjamma";
        reg = <0x25>;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&irq_gpio_11>;
        interrupt-parent = <&gpio>;
        interrupts = <11 2>;
        irq-gpios = <&gpio 11 0>;
      };
      jammactrl_1: jammactrl_1@24 {
        compatible = "raspberrypi,recalboxrgbjamma";
        reg = <0x24>;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&irq_gpio_10>;
        interrupt-parent = <&gpio>;
        interrupts = <10 2>;
        irq-gpios = <&gpio 10 0>;
      };
      jammactrl_2: jammactrl_2@27 {
        compatible = "raspberrypi,recalboxrgbjamma";
        reg = <0x27>;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&irq_gpio_26>;
        interrupt-parent = <&gpio>;
        interrupts = <26 2>;
        irq-gpios = <&gpio 26 0>;
      };
      jammaexpander: jammaexpander@26 {
        compatible = "raspberrypi,recalboxrgbjamma";
        is_pi5 = <0>;
        reg = <0x26>;
        status = "okay";
      };
    };
  };

  fragment@9 {
		target = <&i2c0_pins>;
		__overlay__ {
			brcm,pins = <0 1>;
			brcm,function = <4>;
		};
	};
};
