# Recalbox's Pad-to-Keyboard configuration
# General configuration
# Theme Hospital

0:j1 = mouse.moves ;; Move mouse
0:j2left = left ;; Move camera to the left
0:j2right = right ;; Move camera to the right
0:j2up = up ;; Move camera up
0:j2down = down ;; Move camera down
0:start = enter ;; Start / Validate
0:b = mouse.button.right ;; Rotates the current object
0:a = mouse.button.left ;; Select
0:x = v ;; Edit room
0:y = b ;; Hire staff
0:l1 = f ;; Open build room menu
0:r1 = g ;; Open furnish corridor menu
0:l2 = f3 ;; Manage staff
0:r2 = f4 ;; Town map
0:l3 = f5 ;; Casebook
0:r3 = f6 ;; Research
0:+start = leftalt f4 ;; Quit
0:+up = f7 ;; Status
0:+down = f8 ;; Charts
0:+left = f9 ;; Policy
0:+right = f1 ;; Bank manager
0:+l1 = leftctrl s ;; Screenshot
