# Recalbox's Pad-to-Keyboard configuration
# Game configuration
# Maboul (VG5000)

#Move
0:up = up ;; UP
0:down = down ;; DOWN
0:left = left ;; LEFT
0:right = right ;; RIGHT

#Press fire
0:a = space ;; Press fire

#Give up a game
0:x = s ;; Give up a game

#Rewind
0:+left = f6 ;; Rewind tape by 512bytes steps
0:+up = f5 ;; Rewind tape to 0

#Fast-forward
0:+right = f7 ;; Fast-forward tape by 512bytes step
0:+down = f8 ;; Fast-forward tape to the end

#Pause/Unpause
0:select = break ;; Pause/Unpause